:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather Sans;
    font-weight: 700;
    background-color: var(--body-bg-color);
}

.main {
    color: var(--text-color);
}

.left,
.rigth {
    display: flex;
    gap: 7px;
}

.card {
    width: 15rem;
    height: 15rem;
    background-color: var(--bg-cards);
}
